.nav-class {
     padding: 30px 7%;
     top: 0;
     width: 100%;
     z-index: 1;
     
}

.logo {
     cursor: pointer;
     width: 120px;
     background-color: black;
}

.logo a {
     text-decoration: none;
}


.nav-class * {
     color: rgb(255, 255, 255);
}

.nav-class .logo a {
     color: rgb(255, 255, 255);
     font-size: 27px;
     font-style: bold;
}


.menu ul{
     list-style: none;
     margin: 0;
     padding: 0;
   }
    
   .menu li{
     float: left;
     position: relative;
     width: 120px;
   }
    
   .menu ul li ul{
     display: none;
   }
    
   .menu ul li:hover ul{
     display: block;
   }
    
   .menu ul li a{
     text-decoration: none;
     background: #333;
     display: block;
     color: white;
     font-weight: bold;
     font-family: sans-serif;
     text-align: center;
     border-bottom: 2px solid red;
     border-left: 1px solid #595959;
     padding: 5px;
   }
    
   .menu ul li ul li a{
     background: #595959;
     text-align: left;
     padding: 5px;
     border-bottom: 1px solid #333;
     font-size: .8em;
   }
    
   .menu li a:hover{
     background: rgb(248,140,0);
     transition: .5s;
   }
    
   .menu ul li ul li a:hover{
     padding-left: 15px;
     
   }